body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
}
#tabla-habilidades {
    background-color: green;
    color: white;
    margin-top: 20px;
    margin-bottom: 30px;
}
#tabla-habilidades .table-header {
    font-size: 25px;
}
li {
    font-size: 25px;
}
.pink {
    color: pink;
}
.amarillo {
    color: yellow;
}
.verde {
    color: green;
}