.cuerpo {
    font-family: 'Courier New', Courier, monospace;
    background-color: aquamarine;
}
h1 {
    font-weight: bold;
}
#texto-cambiar {
    margin-top: 5px;
    font-weight: bold;
}
.column-box {
    font-size: 150%;
    background-color: beige;
    color: darkslateblue;
    border: 1px solid black;
    padding: 0.25%;
}
.col-xl-1 {
    font-size: 100%;
}
.table-header {
    font-size: 200%;
    font-weight: bold;
}
.deeppink {
    color: deeppink;
}
.darkslateblue {
    color: darkslateblue;
}
.card {
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: beige;
    color: darkslateblue;
}
.mb-2 {
    color: darkslateblue;
    font-weight: bold;
}
.btn, .btn:focus, .btn:focus-visible, .btn:hover {
    background-color: aquamarine;
    color: darkslateblue;
    margin-bottom: 5px;
    border: 1px solid darkslateblue;
}
.container {
    margin-bottom: 15px;
}
.badge {
    color: darkslateblue;
    border: 1px solid darkslateblue;
    margin-left: 2%;
}